/*--------------------------------------------
ESTILOS PARTÍCULA ACORDEON
--------------------------------------------*/
.accordion{

  .accor-button{
    display: inline-block;
    margin-top: 1rem;
    a{
      text-decoration: none;
    }

  }
}

.accordion {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: $core-font-size;

  .accordion-item-title {  
    display: block;
    background: $accent-color-1;
    color: lighten($base-text-color, 30%);
    cursor: pointer;
    color: #fff;
    font-size: $core-font-size;
     font-weight: $font-weight-bold;
    display: block;
    padding: 1rem;
    border-radius: 5px;
    text-decoration: none;
    @include transition(all 0.5s);

    .toggle {      
      background: #ffffff;
      color: $accent-color-1;;
      float: right;      
      
      .dir-rtl & {
        float: left;
      }
      padding: 0 4px;
      @include transition(background 0.35s);
    }
  }
  li {
    padding: 0 0 .5rem 0;    
    &.active {
      .accordion-item-title {
        color: #fff;
      }
      .toggle {
        background: #ffffff;
        color: #12afaf;
      }
    }
    div.accordion-item-content {
      padding: 0.5rem;
    }
    
  }
}
